<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/logo.png" width="150px" class="user-avatar" />
            <h1>Login Here !!!</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"></a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']"></a>
            </form>
        </div>
    </div>
</div>
